!!!
%html
  %head
    %title We have an API
  %body
    %h1 We have an API

    %p
      It's super-basic right now.

    %h2 Get all local authorities (councils)

    %code
      GET http://tweetmycouncil.herokuapp.com/api/authorities.json
  