/ Main hero unit for a primary marketing message or call to action
.hero-unit
  %h1 Hey there!
  %p Want to find out when to put your bins out? Report a problem in your local area?
  %p You shouldn't have to know which council you're in to be able to ask these questions or help your local community.
  %p
    With Tweet My Council all you need to do is geotag your tweet, add the hashtag <a href="https://twitter.com/#!/search?q=%23tmyc">#tmyc</a> and we'll tweet it to the council you're in right now. Simple.
  %a.btn.primary.large{:href => "https://twitter.com/#!/tweetmycouncil"} Find us on Twitter &raquo;
