%h1 All email replies to tweets

%table
  %tr
    %th From
    %th Subject
  - @emails.each do |email|
    %tr
      %td= escape_html email.from
      %td
        %a{:href => "/emails/#{email.id}"}
          = escape_html email.subject
