%p
  The following email was in reply to
  %a{:href => @email.in_reply_to_twitter_url}
    a tweet
  from @#{@email.in_reply_to_screen_name}:
.well
  %p
    %span.label From:
    #{escape_html @email.from}
  %p
    %span.label Subject:
    #{escape_html @email.subject}
  %p= escape_html @email.stripped_text
